@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* header */
#header{min-width: 1200px;}
.topWrap{background-color: #0044AF;}
.top{width: 1200px;margin: 0 auto;}
.util{float: right;}
.util>ul>li{float: left;}
.util>ul>li>a{
    display: block;
    text-align: center;
    line-height: 40px;
    padding: 0 11px;
    font-size: 12px;
    color: white;
}
.util>ul>li:nth-child(2) a{
    float: left;background-color: white; color: black;
    text-align: center; line-height: 20px; width: 20px;padding: 0;
    margin-right: 2px; margin-top: 10px;
    font-weight: bold;
}
.tabmenu>ul>li{float: left; margin: 0 2px;}
.tabmenu>ul>li>a{
    display: block;
    text-align: center;
    line-height: 40px;
    width: 120px;
    color: white;
    background-color: #00163B;
}
.tabmenu>ul>li>a:hover{color: #515151; background-color: white;}
.tabmenu>ul>li>a.active{color: #515151; background-color: white;}

.logo{width: 1200px; margin: 0 auto; height: 117px;}
.logoimg{float: left;}
.menu{float: right;}
.menu>ul>li{float: left;}
.menu>ul>li>a{
    display: block;text-align: center;
    line-height: 117px;
    padding: 0 39px;
    font-size: 19px;
    font-weight: bold;
}
.menu>ul>li>a:last-child{padding-right: 0;}


/* contents */
.contents{
    min-width: 1200px;
    background-image: url(../images/dot.png),url(../images/배경01.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
    padding-top: 75px;
    position: relative;
}

.contents .title{
    width: 1200px; margin: 0 auto;
    position: relative;
}
.contents .title .ttext{
    width: 1200px;
    height: 130px; margin-bottom: 55px;
    color: white; letter-spacing: -3px;
}
.contents .title .ttext{font-size: 48px;line-height: 65px;letter-spacing: -3px;}
.contents .title .ttext p{
    font-size: 73px; margin-top: -10px;line-height: 99px; font-weight: 700;
    letter-spacing: -10px;
}


.contents .imgmenu{
    float: right;
    position: absolute;top: 0;right: 0;
}
.contents .imgmenu li{
    float: left; text-align: center;padding:15px;
}
.contents .imgmenu h3{font-size: 16px; letter-spacing: 0;line-height: 30px; color: white;}


.container{width: 1200px; margin: 0 auto;}
.container>ul>li{float: left;width: 25%;height: 225px;}

.container>ul>li:nth-child(2n){background-color: bisque;}

.container>ul>li:nth-child(1){width: 75%;height: 450px;}
.container>ul>li:nth-child(2){width: 25%;height: 450px;}
.container>ul>li:nth-child(3){width: 25%;height: 225px;background-color: #00163B;}

.container>ul>li:nth-child(4){width: 25%;height: 225px;background-color: #1651B7;}

.container>ul>li:nth-child(5){width: 25%;height: 225px;background-color: white;}
.container>ul>li:nth-child(6){width: 25%;height: 225px;}
.container>ul>li:nth-child(7){width: 25%;height: 225px;}
.container>ul>li:nth-child(8){width: 75%;height: 225px;}

.container .slider1{position: relative;}
.container .slider1 .stext1{
    position: absolute;top: 70px;left: 90px;
    font-size: 69px; letter-spacing: -0.5%;font-weight: bold;
    line-height: 79px;
    color: #1550B6
}
.container .slider1 .btn1{
    position: absolute;bottom: 80px;left: 90px;
    font-size: 15px;
    width: 170px;height: 40px;
    line-height: 40px; text-align: center;
    color: white; background-color: #192D4E;
}



.container .link{position: relative;padding: 20px; color: white;}
.container .link li{
    float: left;text-align: center; padding-top: 27px;
}
.container .link a{color: white; font-size: 13px;}

.container .notice{position: relative;padding: 20px;}
.container .notice h2{color: white; font-size: 24px;margin-bottom: 17px;}
.container .notice h2:after{
    content:""; display: block;margin: 18px 0;
    width: 260px;height: 2px;background-color: white;
}
.container .notice li{font-size: 15px;line-height: 25px;}
.container .notice li a{color: white;}
.container .notice li span{float: right;}
.container .notice img{position: absolute; right: 0;top: 10px;}

.container .news{position: relative;padding: 20px;font-size: 13px;}
.container .news h2{color: #00163B;margin-bottom: 17px; font-size: 24px;}
.container .news img{float: left; margin-right: 15px;}
.container .news .snslink{
    position: absolute;right: 0;bottom: -40px;
    width: 132px; height: 40px;
}


.container .campus{position: relative;}
.container .campus h3{
    width: 300px; height: 52px;text-align: center;
    font-size: 19px;line-height: 52px;
    position: absolute;bottom: 0;
    background: rgba(0, 0, 0, 0.7); color: white;
}

.container .slider2{position: relative; overflow: hidden;}
.container .slider2 .stext2{position: absolute;top: 20px;left: 30px;color: #FD5A4A;}
.container .slider2 .stext2 h2{font-size: 32px;}
.container .slider2 .stext2 h3{font-size: 47px;margin-bottom: 26px;font-weight: bold;}
.container .slider2 .stext2 .btn3{
    width: 168px;height: 40px;
    color: white;background-color: #FD5A4A;text-align: center;line-height: 40px;
    font-size: 15px;
}
.container .slider2 .student{
    position: absolute;right: 100px;
    top: -10px;
    
}



/* footer */
#footer{min-width: 1200px;}
.footer{width: 1200px;margin: 0 auto;}
.footer .img{float: left;}

.footer>ul{
    float: left; color: #444444;
}
.footer>ul>li{
    float: left;
}
.footerend{float: right;}
.footerend p{float: left;}